<!Doctype html>
<html lang="UTF-8">
<head>
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <!--    the below is very important in order to have the display according to the device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>movie site</title>
</head>
<body>

<div class="item-container">
    <div class="row main-body">
        <div class="col-lg-6 col-sm-12 break">
            <div class="container login">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Log In</h3>

                        </div>
                        <div class="card-body">
                            <form action="/student/login" method="post">
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-id-card-alt"></i></span>
                                    </div>
                                    <input name="registrationNo" type="number" class="form-control"
                                           placeholder="Registration Number">

                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-mobile"></i></span>
                                    </div>
                                    <input name="mobileNo" type="tel" class="form-control" placeholder="Password">

                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Login" class="btn float-right login_btn">
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 break">
            <div class="container-fluid register">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Register</h3>
                        </div>
                        <div class="card-body">
                            <form action="/student/register" method="post">
                                <div class="dropdown">
                                    <div class="input-group form-group">
                                        <!-- Example single danger button -->
                                        <div class="btn-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-building"></i></span>
                                            </div>
<!--                                            class="btn btn-warning dropdown-toggle"  class="dropdown-menu"-->
                                            <label for="block"></label>
                                            <select class="btn btn-warning dropdown-toggle" name="block" id="block">
                                                <optgroup label="Block">
                                                    <option name="block" value="B1">B1</option>
                                                    <option name="block" value="B2">B2</option>
                                                    <option name="block" value="B3">B3</option>
                                                    <option name="block" value="B4">B4</option>
                                                    <option name="block" value="B5">B5</option>
                                                    <option name="block" value="B6">B6</option>
                                                    <option name="block" value="B7">B7</option>
                                                    <option name="block" value="G1">G1</option>
                                                    <option name="block" value="G2">G2</option>
                                                    <option name="block" value="G3">G3</option>
                                                    <option name="block" value="G4">G4</option>
                                                </optgroup>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="input-group form-group">
                                        <!-- Example single danger button -->
                                        <div class="btn-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-chalkboard-teacher"></i></span>
                                            </div>
                                            <label for="course"></label>
                                            <select class="btn btn-warning dropdown-toggle" name="course" id="course">
                                                <optgroup label="course">
                                                    <option name="course" value="B. Tech">B. Tech</option>
                                                </optgroup>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="input-group form-group">
                                    <!-- Example single danger button -->
                                    <div class="btn-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-book-open"></i></span>
                                        </div>
                                        <label for="branch"></label>
                                        <select class="btn btn-warning dropdown-toggle" name="branch" id="branch">
                                            <optgroup label="branch">                                                <option name="branch" value="CSE">CSE</option>
                                                <option name="branch" value="ECE">ECE</option>
                                                <option name="branch" value="MECH">MECH</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input name="name" type="text" class="form-control" placeholder="username">
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-mobile"></i></span>
                                    </div>
                                    <input name="phoneNumber" type="tel" class="form-control" placeholder="Phone Number">

                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-id-card-alt"></i></span>
                                    </div>
                                    <input name="registrationNo" type="number" class="form-control"
                                           placeholder="Registration Number">

                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-list-ol"></i></span>
                                    </div>
                                    <input name="roomNo" type="number" class="form-control"
                                           placeholder="Room Number">

                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                                    </div>
                                    <input name="email" type="email" class="form-control" placeholder="email">

                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input name="password" type="password" class="form-control" placeholder="password">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Register" class="btn float-right login_btn">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/script.js"></script>
</body>
</html>